{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prefer-const": "warn",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off"
  },
  "globals": {
    "React": "writable"
  }
}
